@font-face {
    font-family: 'Bai Jamjuree';
    src: url('fonts/BaiJamjuree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('fonts/BaiJamjuree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('fonts/BaiJamjuree-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
