.styled-text {
    background: linear-gradient(90deg, #B16CEA 14.06%, #FF5E69 44.79%, #FF8A56 71.87%, #FFA84B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes moveBackground {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.styled-background {
    background: linear-gradient(90deg, #B16CEA 14.06%, #FF5E69 44.79%, #FF8A56 71.87%, #FFA84B 100%);
    background-size: 200% 200%;
    animation: moveBackground 10s linear infinite;
}

.styled-border {
    width: 45px;
    height: 45px;
    display: inline-block; /* Ensure it's a block or inline-block element */
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #B16CEA 14.06%, #FF5E69 44.79%, #FF8A56 71.87%, #FFA84B 100%);
    border-radius: 50%; /* Make sure this is applied */
    overflow: hidden; /* This ensures that content won't overflow the border radius */
}

.full-border-radius {
    border-radius: 50%;
}

.styled-button-background:hover {
    background: linear-gradient(90deg, #FFA84B 14.06%, #FF8A56 44.79%, #FF5E69 71.87%, #B16CEA 100%);
}